# Executables by Nuitka
WiiLinkPatcherGUI
*.exe
*.app

# Compiled translations
*.qm

# Nuitka build directories
WiiLinkPatcherGUI.build/
WiiLinkPatcherGUI.dist/
WiiLinkPatcherGUI.onefile-build/

# Python directories
.venv/
__pycache__/

# Jetbrains IDE settings
.idea/

.vscode/
.DS_Store

# Flatpak things
flatpak/.flatpak-builder
flatpak/flatpak-build-dir
flatpak/python3-requirements.json
flatpak/flatpak-pip-generator.py