# Using code with permission from ".github/workflows/python-build.yml" from NUSGet by NinjaCheetah
# https://github.com/NinjaCheetah/NUSGet

name: Build Patcher

on:
  [push, pull_request]

permissions:
  contents: read

jobs:
  build-linux-x64:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Install ccache for Nuitka
      run: |
        sudo apt update && \
        sudo apt install -y ccache patchelf
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build Package
      run: make all
    - name: Prepare Package for Upload
      run: |
        mv WiiLinkPatcherGUI ~/WiiLinkPatcherGUI
        cd ~
        tar cvf WiiLinkPatcherGUI.tar WiiLinkPatcherGUI
    - name: Upload Package
      uses: actions/upload-artifact@v4
      with:
        path: ~/WiiLinkPatcherGUI.tar
        name: WiiLinkPatcherGUI-Linux-x64
    
  build-linux-arm64:

    runs-on: ubuntu-24.04-arm

    steps:
    - uses: actions/checkout@v4
    - name: Install ccache for Nuitka
      run: |
        sudo apt update && \
        sudo apt install -y ccache patchelf
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build Package
      run: make all
    - name: Prepare Package for Upload
      run: |
        mv WiiLinkPatcherGUI ~/WiiLinkPatcherGUI
        cd ~
        tar cvf WiiLinkPatcherGUI.tar WiiLinkPatcherGUI
    - name: Upload Package
      uses: actions/upload-artifact@v4
      with:
        path: ~/WiiLinkPatcherGUI.tar
        name: WiiLinkPatcherGUI-Linux-arm64

  build-macos-x64:

    runs-on: macos-15-large

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build Package
        run: ARCH_FLAGS=--macos-target-arch=x86_64 make all
      - name: Prepare Package for Upload
        run: |
          mv WiiLinkPatcherGUI.app ~/WiiLinkPatcherGUI.app
          cd ~
          tar cvf WiiLinkPatcherGUI.tar WiiLinkPatcherGUI.app
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          path: ~/WiiLinkPatcherGUI.tar
          name: WiiLinkPatcherGUI-macOS-x64

  build-macos-arm64:

    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build Package
        run: ARCH_FLAGS=--macos-target-arch=arm64 make all
      - name: Prepare Package for Upload
        run: |
          mv WiiLinkPatcherGUI.app ~/WiiLinkPatcherGUI.app
          cd ~
          tar cvf WiiLinkPatcherGUI.tar WiiLinkPatcherGUI.app
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          path: ~/WiiLinkPatcherGUI.tar
          name: WiiLinkPatcherGUI-macOS-arm64

  build-windows-onefile-x64:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.13.0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build Package
      run: .\Build.ps1 -additional_args "--onefile"
    - name: Upload Onefile Package
      uses: actions/upload-artifact@v4
      with:
        path: .\WiiLinkPatcherGUI.exe
        name: WiiLinkPatcherGUI-Windows-onefile-x64

  build-windows-x64:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.13.0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build Package
      run: .\Build.ps1
    - name: Upload Standalone Package
      uses: actions/upload-artifact@v4
      with:
        path: .\WiiLinkPatcherGUI.dist
        name: WiiLinkPatcherGUI-Windows-x64